body, html {
    height: 100%
}

.bg {
    height: 90%;
    background: url("https://i.imgur.com/GIZ64F7.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -1;
}


@media screen and (min-width: 700px) {
    #iform {
        border: transparent;
        width: 400px;
        height: 200px;
        visibility: visible;
    }

    #button {
        visibility: hidden;
    }

}

@media screen and (max-width: 699px) {
    #iform {
        visibility: hidden;
    }
    #button{
        visibility: visible;
        font-size: 20px;
        background-color: limegreen;
        border-radius: 25px;
    }
}

footer {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}

.scrollcont {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.gmap_canvas {
    width: 300px;
    height: 350px;
}

.mycontainer {
    background: rgba(220, 220, 220, 0.6)
}

.flist {
    display: inline
}

.itn{
    background-color: rgba(190, 190, 190, 0.7);
}

@media screen and (min-width: 992px) {
    #widelogo {
        width: 100px;
        height: 50px
    }
    a {
        font-size: 25px
    }
    .logo {
        width: 50px;
        height: 50px
    }

}

@media screen and (min-width: 601px) and (max-width: 991px) {
    #widelogo {
        width: 80px;
        height: 30px;
    }
    a {
        font-size: 15px
    }
    .logo {
        width: 30px;
        height: 30px
    }
}

@media screen and (max-width: 600px) {
    #widelogo {
        width: 70px;
        height: 20px;
    }
    a {
        font-size: 10px
    }
    .logo {
        width: 20px;
        height: 20px
    }
}


a {
    color: white;
}

textarea {
    display:block;
    margin:1em 0;
}